$font-size-24: 24px;
$font-size-20: 20px;
$font-size-16: 16px;

$font-medium: 500;
$font-regular: 400;

$font: 'Rubik', Arial, Helvetica, sans-serif;

$line-h-24: 24px;

$color-light: #ffffff;
$color-red: #e5261e;
$color-red-second: #cc221b;
$color-gray: #333333;

$z-tooltip: 10;
$z-fixed: 100;

$img-transition: 0.3s;
$img-hidden: hidden;
$img-scale: scale(1.1);
