.header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 44px;

  &__search {
    display: flex;
    justify-content: space-between;
    width: 402px;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  &__title {
    padding: 6px 1px 6px 12px;
    @include font_config(normal, 500, $font-size-20, 24px);
  }

  &__input {
    @include font_config(normal, 400, $font-size-16, 19px);
    padding: 6px 0;
    border: 0;
    border-bottom: 1px solid $color-gray;
    outline: none;
    line-height: 19px;
    width: 320px;
  }

  &__auth {
    width: 180px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
  }

  &__user-name {
    @include font_config(normal, 400, $font-size-16, 19px);
    // padding: 6px 16px 6px 0;
    padding: 6px 0;
    margin-right: 16px;
    border: 0;
    outline: none;
    line-height: 19px;
    width: 60%;
    text-align: end;

    &:hover {
      border-bottom: 1px solid $color-gray;
      border-top: 1px solid $color-light;
    }
  }
}
