@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 44px;
}
.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 402px;
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}
.nav__title {
  padding: 6px 1px 6px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.nav__input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  padding: 6px 0;
  border: 0;
  border-bottom: 1px solid #333333;
  outline: none;
  line-height: 19px;
  width: 320px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news {
  margin-top: 32px;
}
.news__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 280px;
  cursor: pointer;
  margin-right: 20px;
}
.news__card:last-child {
  margin-right: 0;
}
.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.news__img {
  position: relative;
  height: 370px;
}
.news__cards_img, .news__content {
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.news__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  line-height: 140%;
  padding: 16px;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background: #333333;
  overflow: auto;
}
.news__content:hover {
  opacity: 0.8;
}
.news__name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 16px;
}
.news ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f2f2f2;
  border-radius: 0 10px 10px 0;
}
.news ::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
}
.news ::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}

.genre {
  margin-top: 32px;
  margin-bottom: 72px;
}
.genre__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}
.genre__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}
.genre__item {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 16px rgba(15, 6, 6, 0.15);
          box-shadow: inset 0px 0px 16px rgba(15, 6, 6, 0.15);
  border-radius: 6px;
  opacity: 0.8;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 280px;
  height: 208px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.genre__item:last-child {
  margin-right: 0;
}
.genre__item:nth-child(5n+1) {
  background: linear-gradient(127.83deg, #f2c94c 8.44%, #f29a4a 91.36%);
}
.genre__item:nth-child(5n+2) {
  background: linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
}
.genre__item:nth-child(5n+3) {
  background: linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
}
.genre__item:nth-child(5n+4) {
  background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
}
.genre__item:hover {
  opacity: 1;
}
.genre__emoji {
  margin-top: 32px;
  padding: 32px;
  font-size: 48px;
}
.genre__name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.channels {
  margin: 27px 0 72px 0;
}
.channels__container {
  max-height: 696px;
  display: block;
  overflow: auto;
}
.channels ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f2f2f2;
  border-radius: 2px;
}
.channels ::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
}
.channels ::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}

.channel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 162px;
  margin-bottom: 16px;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 21px 0 19px;
}
.channel:last-child {
  margin-bottom: 0;
}
.channel__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 400px;
}
.channel__img {
  height: 100%;
  max-height: 80px;
}
.channel__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.channel__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  padding-bottom: 11px;
}
.channel__broadcast {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 0;
}
.channel__broadcast:last-child {
  padding-bottom: 0;
}
.channel__time {
  padding-right: 16px;
}
.channel__active {
  color: #e5261e;
}

.footer {
  margin-top: auto;
  background-color: #f2f2f2;
}
.footer__container {
  padding-top: 22px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__img {
  margin-top: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33px;
          flex: 0 0 33px;
}
.footer__img-logo {
  max-width: 100%;
  cursor: pointer;
}
.footer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
}
.footer__address {
  margin-bottom: 6px;
}
.footer__tel {
  margin-bottom: 10px;
}
.footer__number {
  color: #333333;
}
.footer__number:hover {
  color: #cc221b;
}
.footer__link {
  color: #1f4766;
  font-weight: 500;
}
.footer__link:hover {
  color: #cc221b;
}

.button {
  border: none;
  background: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}
.button__tabs {
  border: none;
  color: #e5261e;
  background: none;
  cursor: pointer;
  outline: none;
  position: relative;
  color: #333333;
  margin: 0 12.5px;
}
.button__tabs_active {
  color: #e5261e;
  border-bottom: 2px solid #e5261e;
  padding-bottom: 6px;
}

.nav__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: #e5261e;
}
.nav__button:hover {
  color: #cc221b;
}

.nav__sign-in {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 0 solid #e5261e;
  border-radius: 4px;
  color: #ffffff;
  background: #e5261e;
  padding: 9px 32px;
}
.nav__sign-in:hover {
  background-color: #cc221b;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}

::-webkit-scrollbar {
  width: 14px;
  background-color: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}

.hidden {
  display: none;
}

.modal__overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.6);
  cursor: pointer;
}
.modal__body {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  max-width: 304px;
  min-height: 10rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal__content {
  background-color: #ffffff;
  padding: 36px;
  position: relative;
  width: 304px;
  height: 394px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 111px;
}
.modal__title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33.18px;
  margin-bottom: 24px;
}
.modal__input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  border: 0;
  border-bottom: 1px solid #333333;
  outline: none;
  width: 232px;
  margin-bottom: 24px;
  padding-bottom: 6px;
}
.modal__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
}
.modal__label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__remember {
  display: none;
}
.modal__remember:checked + .modal__checkbox:after {
  background: url(/assets/img/Vector.svg) no-repeat;
}
.modal__checkbox {
  position: relative;
  display: block;
  height: 16px;
  width: 16px;
  border: 1px solid #333333;
  border-radius: 4px;
  margin: 0 8px 0 0;
}
.modal__checkbox::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}